{% extends 'base.html' %}

{% block style %}
  #content {
    min-height: 300px;
  }
{% endblock style %}

{% block content %}
<div class="p-5">
  <h2>{{ post.pk }}번째 글 - {{ post.title }}</h2>
  <hr>
  <p>카테고리 - {{ post.category }}</p>
  <div id="content">{{ post.content|safe }}</div>
  <div class="d-flex justify-content-between">
    <a href="{% url 'posts:index' %}" class="btn btn-secondary me-3">뒤로 가기</a>
    <div class="d-flex">
      <a href="{% url 'posts:update' post.pk %}" class="me-3 btn btn-secondary">수정</a>
      <form action="{% url 'posts:delete' post.pk %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-outline-danger" type="submit" value="삭제">
      </form>
    </div>
  </div>
</div>

{% endblock content %}